<!DOCTYPE html>
<html xmlns:th= "www.thymeleaf.org">
<head>
<title>Movie</title>
</head>
<body>
	<h2 th:inline="text">Hello [[${movieRaitings.name}]]</h2>
	<h3>Your info has been added:</h3>
	
	Movie: <span th:inline= "text"> [[${movieRaitings.movieName}]]</span><br />
	Rating: <span th:inline= "text"> [[${movieRaitings.rating}]]</span><br />
	Date/Time of Posting: <span th:inline= "text"> [[${movieRaitings.time}]]</span><br />
	<a href="/movies/new">Add a new movie</a>
	<a href="/movies">Back to the List</a>
</body>
</html>